@charset "utf-8";
/* CSS Document */
#abd_holder{
	float:left;
	width:710px;
	height:400px;
	border-top:10px solid #000;
	margin-top:5px;
	background:url(../img/me.jpg) no-repeat center top;}
	.c_holder {
	float:left;
	width:710px;
	}
.about_txt_holder {
	float:left;
	width:480px;
	margin-top:100px;
	margin-left:40px;}	
.about_txt_s {
	float:right;
	font-family: Georgia, Times New Roman, sans-serif;
	font-size:13px;
	text-align:left;
	margin-top:15px;}	
	
.about_txt_m {
	float:left;
	width:480px;
	text-align:left;
	font-family: Georgia, Times New Roman, sans-serif;
	font-size:13px;}	
	
.h2 {
	margin:0px;
	padding:5px 10px 5px 20px;
	background:url(../img/cross.gif) center left no-repeat;
	font-size:17px;
	}	
#map_holder {
	float:left;
	width:710px;
	height:400px;
	border-top:10px solid #000;
	margin-top:5px;
	//background:url(../img/map.jpg) no-repeat center top;}	
.c_detail_h {
	float:left;
	width:710px;
	padding:10px 0px;
	border-bottom:2px solid #000;
	border-top:2px solid #000;}
.c_box {
	float:left;
	width:314px;
	padding:20px 20px;
	//height:100px;}	
#c_box {
	
	border-right:2px solid #ccc;}	
.c_box_tit_holder {
	float:left;
	width:324px;
	}
.c_box_tit {
	font-family: Georgia, Times New Roman, sans-serif;
	float:left;
	width:324px;
	color:#000;
	font-size:12px;
	font-style:italic;
	margin-bottom:3px;}	
.c_box_line {
	float:left;
	width:50px;
	border-bottom:#000 solid 2px;
	height:0px;}		
.c_box_data_hol {
	float:left;
	width:324px;
	height:auto;
	margin-top:15px;
	}	
.data_add {
	float:left;
	width:324px;
	font-family: Georgia, Times New Roman, sans-serif;
	line-height: 120% !important;
	font-size:16px;
	margin-bottom:10px;}	
.data_tel {
	float:left;
	width:324px;
	}	
.data_p_name {
	float:left;
	padding:0px;
	margin:0px;
	font-size:16px;
	color:#90B630;
	font-family: Georgia, Times New Roman, sans-serif;
	line-height: 120% !important;}
.data_p_data {
	float:left;
	font-family: Georgia, Times New Roman, sans-serif;
	line-height: 120% !important;
	font-size:16px;
	color:#000;
		padding:0px;
	margin:0px;}
.contact_item_holder {
	float:left;
	width:324px;
	margin-bottom:10px;
	}			
.contact_acc_name {
	float:left;
	font-family: Georgia, Times New Roman, sans-serif;
	line-height: 120% !important;
	font-size:14px;
	color:#000;
	padding:0px;
	margin:0px;}
.contact_acc_link {
	float:left;
	font-family: Georgia, Times New Roman, sans-serif;
	line-height: 120% !important;
	font-size:14px;
	color:#90B630;
	padding:0px;
	margin:0px;
	text-decoration:none;
	padding:0px 0px 0px 5px;}	
.contact_acc_link:hover  {
	cursor: pointer;
	color: #B4D55E;
}		
	