@charset "utf-8";
/* CSS Document */

.gal_holder {
	float:left;
	width:710px;
	padding:20px 20px 0px 20px;
	}
.h2 {
	margin:0px;
	padding:5px 10px 5px 20px;
	background:url(../img/cross.gif) center left no-repeat;
	font-size:17px;
	}	
#gal_holder {
	float:left;
	width:710px;
	padding-top:20px;
	//height:400px;
	border-top:10px solid #000;
	margin-top:5px;
	//background:url(../img/map.jpg) no-repeat center top;}	
	
	
.am-wrapper{
    float:left;
    position:relative;
    overflow:hidden;
}
.am-wrapper img{
    position:absolute;
    outline:none;
	
}	
#am-container a {
	/*//border:2px solid #000;
	-moz-box-shadow:0px 0px 2px #000;
	-webkit-box-shadow:0px 0px 2px #000 ;
	box-shadow:0px 0px 2px #000 ;*/
	border: 0px solid #fff}


.gal_txt {
	float:left;
	width:710px;
	padding-bottom:27px;
	font-size:12px;
	color:#4D4D4D;
	font-family: Georgia, Times New Roman, sans-serif;
	}	
.content_main {
	width:750px;
	//height:410px;
	padding:0px 0px 40px 0px;
	float:left;
	background:#FFF;
	margin-left:3px;
	position:relative;
	}
.ad_img_holder {
	float:left;
	width:750px;
	background: #000;
	padding:20px 0px;}
	
	
	



.ad-gallery {
	float:left;
	background:#000;
  width: 750px;
}
.ad-gallery, .ad-gallery * {
  margin: 0;
  padding: 0px 0px;
}
  .ad-gallery .ad-image-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
    .ad-gallery .ad-image-wrapper .ad-loader {
      position: absolute;
      z-index: 10;
      top: 48%;
      left: 48%;
      border: 1px solid #CCC;
    }
    .ad-gallery .ad-image-wrapper .ad-next {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 200;
    }
    .ad-gallery .ad-image-wrapper .ad-prev {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 200;
    }
    .ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
      /* Or else IE will hide it */
      background: url(trans.gif);
    }
      .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(ad_prev.png);
        width: 30px;
        height: 30px;
        display: none;
        position: absolute;
        top: 47%;
        left: 0;
        z-index: 101;
      }
      .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(ad_next.png);
        width: 30px;
        height: 30px;
        right: 0;
        left: auto;
      }
    .ad-gallery .ad-image-wrapper .ad-image {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 9;
    }
      .ad-gallery .ad-image-wrapper .ad-image a img {
        border: 0;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px;
        text-align: left;
        width: 100%;
        z-index: 2;
        background: url(opa75.png);
        color: #000;
      }
      * html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');
      }
        .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
          display: block;
        }
  .ad-gallery .ad-controls {
    height: 20px;
  }
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .ad-gallery .ad-nav {
    width: 100%;
    position: relative;
  }
    .ad-gallery .ad-forward, .ad-gallery .ad-back {
      position: absolute;
      top: 13px;
	  
      
      z-index: 10;
    }
    /* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {
      height: 100%;
    }
    .ad-gallery .ad-back {
      cursor: pointer;
      left: 0px;
      width: 30px;
	  height:40px;
      display: block;
      background: url(../img/prev.png) center no-repeat #90B630;
    }
    .ad-gallery .ad-forward {
      cursor: pointer;
	  right:0px;
      width: 30px;
	  height:40px;
      display: block;
      background: url(../img/next.png) center no-repeat #90B630;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 100%;
    }
      .ad-gallery .ad-thumbs .ad-thumb-list {
        float: left;
        width: 9000px;
        list-style: none;
      }
        .ad-gallery .ad-thumbs li {
          float: left;
          padding-right: 5px;
        }
          .ad-gallery .ad-thumbs li a {
            display: block;
          }
            .ad-gallery .ad-thumbs li a img {
              border: 3px solid #fff;
              display: block;
            }
            .ad-gallery .ad-thumbs li a.ad-active img {
              border: 3px solid #90B630;
            }
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}	
		