@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Conv_bod72ob_';
	src: url('bod72ob_.eot');
	src: local('☺'), 
	url('bod72ob_.woff') format('woff'), 
	url('bod72ob_.ttf') format('truetype'), 
	url('bod72ob_.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'NokiaPureHeadlineExtraBold';
    src: url('nokiapureheadline_extrabold-webfont.eot');
    src: url('nokiapureheadline_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapureheadline_extrabold-webfont.woff') format('woff'),
         url('nokiapureheadline_extrabold-webfont.ttf') format('truetype'),
         url('nokiapureheadline_extrabold-webfont.svg#NokiaPureHeadlineExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
::selection
{
	color:white;
	background-color:#90b630;
}

.container {
	width: 100%;
	height: auto;
	/*font-family: 'Conv_bod72ob_',Georgia, Serif;*/
	}
	
.ex {
	font-family: Georgia, Times New Roman, sans-serif;
	font-size:22px;
	}	
.content_holder {
	width:100%;
	height:auto;
	float:left;
	
	}
.navi_holder {
	float: left;
	margin-top: 30px;
	width: 100%;
	height: auto;
}	
.holder {
	float:left;
	width:1213px;}	
.logo_holder {
	float:left;
	width:200px;
	height:450px;
	background: url(../img/LOGO.jpg) no-repeat top center #FFF;}	
#content {
	height:auto;}	
.content {
	width:710px;
	height:410px;
	padding:20px;
	float:left;
	background:#FFF;
	margin-left:3px;
	position:relative;
	}
.silder_hoder {
	width:710px;
	height:410px;
	position:relative;
    
	}	
.silder_hoder img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}		
.side_left {
	float:left;
	padding:20px;
	width:210px;
	background:#Fff;
	height:410px;
	margin-left:10px;}	


.top_head_text {
	font-family: Georgia, Times New Roman, sans-serif;
	font-size:22px;
	float:left;
	width:200px;
	border-top:3px #000000 solid;
	border-bottom: 1px solid #999;
	padding:10px 5px;
	text-decoration: none;
	line-height:1.2;
	margin-top:10px;
	}
.top_sub_text {
	float:left;
	font-family: Georgia, Times New Roman, sans-serif;
	font-size:13px;
	line-height: 150%;
	color:#333;
	width:200px;
	padding:20px 5px 10px 5px;}	

.cont_bb_holder {
	float:left;
	width:180px;
	padding:0px 10px 0px 5px;
	margin-top:10px;}

.navi {
	float:left;
	padding:0px 0px 0px 223px;
	width:990px;
	}

.navi_a {
	display:block;
	float:left;
	padding:12px 5px;
	margin-right:18px;
	border-bottom: 2px solid #E5E5E5;
	color: #191919;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor:pointer;}
.navi_a:hover {
	border-bottom: 2px solid #90b630;
	color: #191919;
	cursor:pointer;
	opacity:0.8} 	
#contact_navi,#album_navi,#galllery_navi,#home_navi,#about_navi {
	border-bottom: 2px solid #90b630;
	color: #191919;
	cursor:pointer;
	}	
	
.holder_mid {
	float:left;
	width:1213px;
	padding-top:20px;}	
	
.box_holder {
	font-family: Georgia, Times New Roman, sans-serif;
	width:710px;
	margin-left:223px;}	
.box {
	width:216px;
	float:left;
	}	
	
.box_mid {
	width:216px;
	float:left;
	margin-left:31px;
	margin-right:31px;}	
h1 {
	display:block;
	width:216px;
	margin:0px;
	padding:5px 0px 5px 0px;
	font-size:19px;
	font-weight:normal;
	float:left;
	margin-bottom:5px;
	}
.box_text {
	float:left;
	display:block;
	width:216px;
	font-size:13px;
	color:#595959;
	line-height:150%;}		
.more_hol {
	float:left;
	width:216px;
	margin-top:15px;
	}
.more_bb {
	color:#000;
	font-size:12px;
	float:left;
	padding:2px 20px;
	outline:none;
	text-decoration:none;
	background:url(../img/point.jpg) no-repeat;}	
.more_bb:hover {
	opacity:0.5;}	
		
.contact_meth {
	color:#191919;}	
	
	

.holder_footer {
	float:left;
	width:1213px;
	padding-top:20px;
	margin-top:20px;}	
	
	
.footer {
	float:left;
	margin-left:203px;
	width:750px;
	margin-bottom:30px;
	border-top: 1px dotted #7F7F7F;}
.copy_r_bar {
	float:left;
	width:730px;
	padding:5px 10px;}	

.copy_text_p {
	display:block;
	float:left;
	font-size:13px;
	color:#999;
	font-family: Georgia, Times New Roman, sans-serif;
	margin-right:20px;
	}	
.social {
	display:block;
	float:right;}	
.social_link {
	display:block;
	float:left;
	font-size:13px;
	color:#999;
	font-family: Georgia, Times New Roman, sans-serif;
	margin-left:20px;}	
.design_bar {
	float: right;
	padding: 3px 0px;
	font-size: 11px;
	color: #B6B6B6;
	font-family: Georgia, Times New Roman, sans-serif;
}
		 		
	
cufon{text-indent:0!important;}@media screen,projection{cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufoncufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}}@media print{cufon{padding:0!important;}cufon canvas{display:none!important;}}	


.prec_holder {
	width:200px;
	height:auto;}
.prec_num {
	float:left;
	width:200px;
	height:auto;
	padding:0px;
	text-align:center;
	font-size:72px;
	color:#fff;
	font-family:NokiaPureHeadlineExtraBold;}	
.prec_mrk_h {
	float:left;
	width:200px;
	background:url(../img/pre_mr.jpg) repeat-x center;
	opacity:0.8;
	
	}	
.prec_mrk {
	float:left;
	display:block;
	font-family: Georgia, Times New Roman, sans-serif;
	font-size:16px;
	color:#FFF;
	margin:0 85px 0 85px;
	text-align:center;
	width:30px;
	background:#000;}
.prec_text {
	float: left;
	width: 200px;
	font-size: 16px;
	padding-top: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: center;
}












.map_hoder {
	width:200px;
	height:auto;
	padding:10px 15px 15px 15px; 
	background: #FFF;
	float:left;
	box-shadow: #CCC 2px 2px 6px;}
.map_tit {
	float:left;
	width:180px;
	font-size:17px;
	font-family: Georgia, Times New Roman, sans-serif;
	color: #15C;
	padding:3px 10px;
	border-bottom:2px solid #000;
	}	
.map_txt_body {
	float:left;
	width:180px;
	margin-top:10px;
	padding:0px 10px;}	
.map_add {
	float:left;
	width:180px;
	font-size:14px;
	font-family: Georgia, Times New Roman, sans-serif;
	}	
.map_phone {
	float: left;
	width: 180px;
	font-size: 14px;
	font-family: Georgia, Times New Roman, sans-serif;
	color: #15C;
}	





.img_w_name {
	float: left;}
.slider_bb_h {
	float:right;
	padding:1px 15px;
	background:#90B630;
		-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;}
.slider_bb {
	margin:0px ;
	padding:0px;
	font-size:12px;
	color:#FFF;}