

}
img.fp_bgImage{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	opacity:0.2;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}

ul.fp_galleryList{
	list-style:none;
	float:left;
	width:710px;
	margin:0px;
	padding:0px;
	
}
.album_thmb{
	float:left;
	display:block;
	width:224px;
	margin:0px;
	padding:0px;
	cursor:pointer;
	margin-bottom:20px;
	border-top:3px solid #fff;
	
	}
	
.album_thmb_mid {
	float:left;
	display:block;
	width:224px;
	margin:0px 19px;
	padding:0px;
	cursor:pointer;
	margin-bottom:20px;
	border-top:3px solid #fff;
	}	

.thmb_pic {
	float:left;
	width:224px;
	height:100px;
	background:#fff;
	}
.thmb_txt {
	float:left;
	width:224px;
	}	
.thmb_where {
	font-size:12px;
	color:#4D4D4D;
	margin:10px 0px 0px 0px;
	padding:0px 0px 3px 0px;
		float:left;
	width:224px;
	font-family: Georgia, Times New Roman, sans-serif;}
.thmb_whos {
	float:left;
	width:224px;
	padding:0px;
	margin:0px;
	font-size:16px;
	color:#000;
	font-family: Georgia, Times New Roman, sans-serif;}

ul.fp_galleryList li.current{
	opacity:0.8;
	border-top:3px solid #90b630;
}
ul.fp_galleryList li.current:hover{
	//border:none;
	
}
ul.fp_galleryList li:hover{
	//border-bottom:1px solid #fff;
}
#fp_thumbContainer{
	float:left;
	position:relative;
	overflow:hidden;
	width:750px;
	height:0px;
	background:#000;
	 /*240px to show*/
/*	-moz-box-shadow:0px 0px 10px #000 inset;
	-webkit-box-shadow:0px 0px 10px #000 inset;
	box-shadow:0px 0px 10px #000 inset;*/
}
#fp_thumbScroller{
	position:relative;
	overflow:hidden;	
}
#fp_thumbScroller .container{
	position:relative;
	float:left;
	display:none;
}
#fp_thumbScroller .content{
	float:left;
	margin-top:20px;
}
#fp_thumbScroller .content div{
	margin:0px 0px;
	height:100%;
}
#fp_thumbScroller img{
	//border:3px solid #fff;
	height:80px;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	outline:none;
	color:#000;
}
#fp_thumbScroller a{
	padding:1px;
	outline:none;
	color:#000;
}
.fp_overlay{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:10;
	background:#000;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.fp_loading{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin:-35px 0px 0px -35px;
	background:#fff url(../img/loader.gif) no-repeat center center;
	width:70px;
	height:70px;
	z-index:9999;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
	opacity:0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.fp_next,
.fp_prev,
.fp_close{
	width:50px;
	height:50px;
	position:fixed;
	bottom:50%;
	margin-top:-25px;
	cursor:pointer;
	opacity:0.7;
	z-index:1000;
	-moz-box-shadow:0px 0px 3px #000;
	-webkit-box-shadow:0px 0px 3px #000;
	box-shadow:0px 0px 3px #000;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	font-family: Georgia, Times New Roman, sans-serif;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.fp_next:hover,
.fp_prev:hover,
.fp_close:hover
{
	opacity:0.9;
}
.fp_next{
	background:#90b630 url(../img/next.png) no-repeat center center;
	right:-50px; /*10 to show*/
}
.fp_prev{
	background:#90b630  url(../img/prev.png) no-repeat center center;
	left:-50px; /*10 to show*/
}
.fp_close{
	display:none;
	width:30px;
	height:30px;
	text-align:center;
	text-transform:uppercase;
	//font-family:NokiaPureHeadlineExtraBold;
	line-height:50px;
	top:10px;
	right:10px;
	margin-top:0px;
	background:#90b630 url(../img/close.png) no-repeat center ;
	color:#000;
}
.fp_scrollWrapper{
	position:relative;
	display:none;
	width:600px;
	padding:10px 75px;
	height:12px;
	float:left;
//	margin:30px auto;
//	background:#111;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.ui-widget-content{
	height:12px;
	background-color:#353535;
	position:relative;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.ui-slider-horizontal .ui-slider-handle{
	margin-top:5px;
	z-index:1;
	outline:none;
	cursor:pointer;
	border:none;
	width:30px;
	height:12px;
	background: #90B630;
	margin-left:-7px;
}
.ui-state-default {
	background-image:none;
}
.fp_prev_thumb,
.fp_next_thumb{
	background:transparent url(../img/nav.png) no-repeat top left;
	position:absolute;
	top:8px;
	width:15px;
	height:17px;
	cursor:pointer;
}
.fp_prev_thumb:hover{
	background-position:left top;
}
.fp_next_thumb:hover{
	background-position:right top;
}
.fp_prev_thumb{
	left:10px;
	background-position:left bottom;
}
.fp_next_thumb{
	right:10px;
	background-position:right bottom;
}
img.fp_preview{
	position:fixed;
	z-index:999;
	border:3px solid #fff;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	opacity:0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);	
}



.scroll_h {
	float: left;
	width:750px;
	margin-bottom:20px;}